* {
    margin: 0;
    padding: 0;
}

main {
    text-align: center;
}

#wrapper {
    display: inline-block;
}
#wrapper div:nth-child(2) {
    margin-left: 2em;
}

#wrapper div:nth-child(3) {
    margin-left: 4em;
}
#wrapper div kbd {
    display: inline-block;
    border: 1px solid red;
    width: 4em;
    height: 4em;
    text-transform: uppercase;
    position: relative;
}
kbd button{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 12px;
    display: none;
}
kbd:hover button{
    display: inline-block;
}
